.socials {
  margin-top: 50px;
}

.socials img {
    width:300px; /* you can use % */
    height: auto;
    display:block;
    margin:auto;
}

.socials p {
  text-align: center;
  margin-bottom: 0px;
  font-size: medium;
  font-weight: bold;
}
