html {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}
.lefty {
  float: left;
  height: 100%;
  width: 40%;
  padding-right: 20px;
}
.lefty .skills {
  margin-left: 20px;
  margin-top: 50px;
  background-color: blanchedalmond;
  padding: 10px;
  width: 400px;
}
.lefty .skills h3 {
  text-align: center;
}
.lefty .skills li {
  margin-bottom: 10px;
}
.topnav a {
  text-decoration: none;
  margin: 5px;
  background-color: aquamarine;
}

.righty {
  float: right;
  height: 100vh;
  width: 50%;
  padding-right: 20px;
  background-color: blanchedalmond;
}
.righty .inner_ity {
  padding: 30px;
}
.righty a {
  float: right;
  text-decoration: none;
  margin: 5px;
  margin-bottom: 20px;
  background-color: aquamarine;
}

/* Might have to delete this line
Not functioning at all at this attempt*/ .righty .inner_ity .socials {
  background-color: burlywood;
}/**/

.righty .frame {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  
}
.righty img {
  width: 100%;
  height: 100%;
  margin: 10px;
  float: right;
}


/*ul {
  margin: 50px;
  background-color: blanchedalmond;
}*/

/* Styling body */